<!-- Javascript -->
<script src="/public/javascripts/details.polyfill.js"></script>
<script src="/public/javascripts/jquery-1.11.3.js"></script>
<script src="/public/javascripts/govuk/selection-buttons.js"></script>
<script src="/public/javascripts/application.js"></script>
<script type="text/javascript">

//////////////* COMMON *//////////////

// Shorthand URL
function go(url) {
    window.location.href = url;
}

// Shorthand URL - NO HISTORY
function goInvisible(url) {
    window.location.replace(url);
}

// Allow continue from enter press
$(function() {
    $("#question").keyup(function(event) {
        if(event.keyCode == 13) {
            $("#continue").click();
        }
    });
});

  $(".no-focus").click(function () {
//    next();
    startTimer();
  });

  function startTimer() {
    var timer = setTimeout(function() {
      go('/confirmation');
    }, 5000);
  }

//  function next() {
//    //        go('confirmation');
//  }
</script>
